
:root{
    --headind-font-family: 'Playfair Display', serif;
    --paragraph-font-family: 'Poppins', sans-serif;
    --homepage-bg : #F9F7FE;
    --primary-color:  #6C63FF;
}
body{
    font-family: var(--paragraph-font-family);
}
.homepage {
 background-color: var(--homepage-bg);
 text-align: center;
 padding: 120px 98px;
}
h1 {
font-family: var(--headind-font-family);
font-size: 95px;
font-weight: bold;
line-height: 1.5;

}
h2{
    font-family: var(--headind-font-family);
     font-size: 64px;
     font-weight: bold;
}

p {
    font-size: 15px;
    line-height: 30px;
font-family: var(--paragraph-font-family)
}
.homepage p{
    color:  #272142 ;
 font-weight: bold;
 font-size: 36px;
 margin: 0;
}

.homepage h2 {
    line-height: 1.5;
    font-weight: normal;
    font-family: var(--headind-font-family);
    font-size: 24px;
}
button {
    background-color: var(--primary-color) ;
    color: white;
    padding: 16px 26px;
    font-size: 20px;
    border-radius: 4px;
    border-color: var(--primary-color);
}
.button {
   background-color: var(--primary-color) ;
    color: white;
    padding: 16px 26px;
    font-size: 20px;
    border-radius: 4px;
    border-color: var(--primary-color);
 
}
.learn-button {
border: 1px solid var(--primary-color);
border-radius: 4px;
color: var(--primary-color);
font-size: 18px;
line-height: 26px;
padding: 16px 30px;
}

.about-developer {
    padding: 160px 20px;
}
.about-developer h1 {
    font-size: 65px;
    line-height: 80px;
}
.about-developer h2 {
    font-size: 18px ;font-family: var(--headind-font-family);
}
.about-info {
    margin: 30px;
}
@media (max-width: 900px) {
    h1 {
        font-size: 45px;
        line-height: 2;
    }
    h2 {
        font-size: 42px;
    }
    .homepage {
        padding: 80px 20px;
    }
    .about-developer {
        text-align: center;
        padding: 0;
    }
}